@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.back {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
